.img-container{
    background-image: url("desktop-green-bg.png");
    background-attachment: fixed;
    min-height: 650px;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* flexbox css */
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
  width: 210px;
  height: 150px;
}