.global{
  width:100%;
  z-index: -9999
}
    
.navPackage{
  display: flex;
  justify-content: center;
}

.greenBanner{
  top:0;
  position:absolute;
  width: 100vw;
  height: auto;
  z-index: 1
}

h1{
  position: absolute;
  z-index: 2;
  color: #0A2463;
  padding-top: 25px;
}     